:root {
  /* Background colors */
  --bg-primary-color: #0f0f0f;
  --bg-secondary-color: #008080;
  --bg-third-color: #222;

  /* Text colors */
  --text-primary-color: #f0f0f0;

  /* Text sizes */
  --text-size-xs: 12px;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;
  --text-size-2xl: 32px;
  --text-size-3xl: 48px;

  /* Border colors */
  --border-primary-color: #2f2f2f;
  --border-snake-color: #222;

  /* Border radius sizes */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-snake: 4px;

  /* Padding sizes */
  --space-xs: 12px;
  --space-sm: 14px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;

  /* Snake color */
  --snake-color: #00e676;

  /* Snake food color */
  --snake-food-color: #ff1744;

  /* Backdrop filter blur unit*/
  --blur-unit: 2px;
}