@use "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--text-size-md);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  -webkit-tap-highlight-color: none;
}

html,
body,
main {
  height: 100%;
}

body {
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-lg);

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-xs);
    background-color: var(--bg-secondary-color);
    padding: var(--space-md) var(--space-xl);

    .stat {
      font-size: clamp(var(--text-size-md), 2vw, var(--text-size-lg));
      font-weight: 500;
    }
  }

  .game-board {
    flex-grow: 1;
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    background-color: var(--bg-third-color);

    .cell {
      border: 2px solid transparent;
    }

    .cell.snake {
      background:
        radial-gradient(circle at 30% 30%, var(--snake-color), #005a21 60%),
        radial-gradient(circle at 70% 70%, #009f3a, var(--snake-color) 60%);
      background-size: 12px 12px;
      border-color: var(--border-snake-color);
      border-radius: var(--border-radius-snake);
    }

    .cell.snake.head {}

    .cell.snake.head.up {
      clip-path: polygon(50% 0%,
          100% 40%,
          80% 100%,
          20% 100%,
          0% 40%);
    }

    .cell.snake.head.down {
      clip-path: polygon(20% 0%,
          80% 0%,
          100% 60%,
          50% 100%,
          0% 60%);
    }

    .cell.snake.head.left {
      clip-path: polygon(0% 50%,
          40% 0%,
          100% 20%,
          100% 80%,
          40% 100%);
    }

    .cell.snake.head.right {
      clip-path: polygon(60% 0%,
          100% 50%,
          60% 100%,
          0% 80%,
          0% 20%);
    }


    .cell.food {
      background-color: var(--snake-food-color);
      border-radius: 50%;
      animation: food 500ms ease-in-out infinite alternate;
      position: relative;
    }

    @keyframes food {
      0% {
        transform: scale(0.9);
      }

      100% {
        transform: scale(0.8);
      }
    }
  }

  .controller-keys {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-xs);
    padding: var(--space-xs);

    .controller-key {
      width: 50px;
      aspect-ratio: 1;
      border: none;
      border-radius: var(--border-radius-md);
      font-size: var(--text-size-xl);
      cursor: pointer;
    }

    .controller-key:active {
      transform: scale(0.9);
    }

    .controller-key.up {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .controller-key.down {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .controller-key.left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .controller-key.right {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(var(--blur-unit));
  color: var(--text-primary-color);
  font-size: var(--text-size-lg);
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    display: none;
  }

  .start-game,
  .restart-game {
    text-align: center;

    &.hide {
      display: none;
    }

    h3 {
      white-space: nowrap;
      font-size: clamp(var(--text-size-md) + 4px, 3vw, var(--text-size-2xl));
      padding: var(--space-xs);
    }

    button {
      margin: 0 auto;
      font-size: clamp(var(--text-size-md) - 1px, 2vw, var(--text-size-lg) - 2px);
      font-weight: bold;
      padding: 0.65em 0.75em;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}